apiVersion: v1
kind: Secret
metadata:
  name: github-oauth-kafkaoffsetmonitor
data:
  doorman.github.appid: ODRhNzQ1YmM5NTYwZTBmZjBiNTM=
  doorman.github.secret: YjFiNjUwOTQzNWMzODRiOTkwZGZjZDlkZThkZmQ3ZTdiNzYyNzFkYw==
  doorman.github.required.organization: VnVuZ2xl
